.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}

.card{
padding: 10px;    
margin-top: 10px;
margin-bottom: 30px;
overflow: hidden;
max-width: 300px;
max-height: 500px;
}

.name {
    margin-left: 10px;
    text-align: start;
    font-weight: bold;
}

.description {
    margin-top: 0px;
    margin-left: 10px;
    text-align: start;
}

.price {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10px;
    text-align: start;
}

#view{
    border: none;
    color: ghostwhite;
    font-weight: bold;
    text-align: center;
}

.buy_button{
    margin: 10px;
    height: 30px;
    width: 280px;
    background-color: darkviolet;
}