@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.userAvatar {
    height: 100px;
    width:100px;
    font-size: 80px;
    /* border: 2px solid black;
    border-radius: 100%;
    max-width: fit-content;
    margin: 0 auto;
    padding: 50px; */
}
.ant-avatar-string {
    /* bottom: 1; */
    /* transform: none; */
    margin: 0 auto;
}
.moodboard-container {
    max-width: 1000px;
    margin: 0 auto;
}
.boards-icon {
    object-fit: scale-down;
}
.suggestion-card {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
}
.border-thick {
    border: 3px solid #ececee;
    background-color: #f0f0f3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(162, 129, 175);
}
.background-purple {
    padding: 2%;
    background-color: #e8e6f1;
}
.button-purple {
    border-color: #cdc6e4;
}
.text-style {
    font-family: 'Great Vibes', cursive;
    font-size: 250%;
}
