.wishList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.buyList_delete{
    width: 40%;
    margin-right:10px ;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkviolet;
    color: white;
}

.buyList_buyBoard{
    background-color: darkviolet;
    color: white;
    width: 40%;
    
}